@import "tailwindcss";

:root {
  --background: #f6f8fb;
  --foreground: #111827;

  --primary: #6bc1b7;
  --primary-hover: #58b2a8;

  --secondary: #7b6cac;

  --border: #e5e7eb;
}

html {
  color: var(--foreground);
  background: var(--background);
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

input {
  color: #111827;
  background: white;
}

input::placeholder {
  color: #9ca3af;
}

input:focus {
  outline: none;
}